ReplicationApiService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ReplicationApiService"
  targetNamespace="urn:ReplicationApiService"
  xmlns:tns="urn:ReplicationApiService"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="urn:ReplicationApiService"
  xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:HTTP="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
  xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
  xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

  <schema targetNamespace="urn:ReplicationApiService"
    xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ns="urn:ReplicationApiService"
    xmlns="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="unqualified"
    attributeFormDefault="unqualified">
    <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
    <simpleType name="ErrorCode"><!-- ns__ErrorCode -->
      <restriction base="xsd:string">
        <!-- = 0 -->
        <enumeration value="authoization-ok"/><!-- authoization_ok_ -->
        <!-- = 1 -->
        <enumeration value="authoization-error"/><!-- authoization_error_ -->
        <!-- = 2 -->
        <enumeration value="connection-error"/><!-- connection_error_ -->
        <!-- = 3 -->
        <enumeration value="query-error"/><!-- query_error_ -->
        <!-- = 4 -->
        <enumeration value="db-busy"/><!-- db_busy_ -->
      </restriction>
    </simpleType>
    <simpleType name="UserAccessRightCode"><!-- ns__UserAccessRightCode -->
      <restriction base="xsd:string">
        <!-- = 0 -->
        <enumeration value="none"/><!-- none_ -->
        <!-- = 1 -->
        <enumeration value="view"/><!-- view_ -->
        <!-- = 2 -->
        <enumeration value="edit"/><!-- edit_ -->
        <!-- = 3 -->
        <enumeration value="delete"/><!-- delete_ -->
      </restriction>
    </simpleType>
    <simpleType name="MeasurementClasses"><!-- ns__MeasurementClasses -->
      <restriction base="xsd:string">
        <!-- = 0 -->
        <enumeration value="data"/><!-- data_ -->
        <!-- = 1 -->
        <enumeration value="alert"/><!-- alert_ -->
        <!-- = 2 -->
        <enumeration value="hum-out"/><!-- hum_out_ -->
        <!-- = 3 -->
        <enumeration value="nothing"/><!-- nothing_ -->
      </restriction>
    </simpleType>
    <complexType name="StationInfo"><!-- ns__StationInfo -->
          <sequence>
            <element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__StationInfo::ID -->
            <element name="Code" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ns__StationInfo::Code -->
            <element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__StationInfo::Name -->
            <element name="UpdatePeriod" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ns__StationInfo::UpdatePeriod -->
            <element name="Place" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__StationInfo::Place -->
            <element name="Latitude" type="xsd:float" minOccurs="1" maxOccurs="1"/><!-- ns__StationInfo::Latitude -->
            <element name="Longitude" type="xsd:float" minOccurs="1" maxOccurs="1"/><!-- ns__StationInfo::Longitude -->
            <element name="UserAccessRight" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__StationInfo::UserAccessRight -->
          </sequence>
    </complexType>
    <complexType name="UnitInfo"><!-- ns__UnitInfo -->
          <sequence>
            <element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__UnitInfo::ID -->
            <element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__UnitInfo::Name -->
          </sequence>
    </complexType>
    <complexType name="SensorInfo"><!-- ns__SensorInfo -->
          <sequence>
            <element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__SensorInfo::ID -->
            <element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__SensorInfo::Name -->
            <element name="AveragePeriod" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ns__SensorInfo::AveragePeriod -->
            <element name="Unit" type="ns:UnitInfo" minOccurs="0" maxOccurs="1"/><!-- ns__SensorInfo::Unit -->
            <element name="MeasurClass" type="ns:MeasurementClasses" minOccurs="1" maxOccurs="1"/><!-- ns__SensorInfo::MeasurClass -->
            <element name="StationID" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__SensorInfo::StationID -->
            <element name="IsWeathercock" type="xsd:boolean" minOccurs="1" maxOccurs="1"/><!-- ns__SensorInfo::IsWeathercock -->
            <element name="PDKValue" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- ns__SensorInfo::PDKValue -->
            <element name="PDKDayValue" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- ns__SensorInfo::PDKDayValue -->
            <element name="DefaultColor" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ns__SensorInfo::DefaultColor -->
          </sequence>
    </complexType>
    <complexType name="ArrayOfStationInfo"><!-- ns__ArrayOfStationInfo -->
          <sequence>
            <element name="StationsInfo" type="ns:StationInfo" minOccurs="0" maxOccurs="unbounded"/><!-- ns__ArrayOfStationInfo::StationsInfo -->
          </sequence>
    </complexType>
    <complexType name="ArrayOfSensorsInfo"><!-- ns__ArrayOfSensorsInfo -->
          <sequence>
            <element name="SensorsInfo" type="ns:SensorInfo" minOccurs="0" maxOccurs="unbounded"/><!-- ns__ArrayOfSensorsInfo::SensorsInfo -->
          </sequence>
    </complexType>
    <complexType name="StInfo"><!-- ns__StInfo -->
          <sequence>
            <element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__StInfo::ID -->
            <element name="Code" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ns__StInfo::Code -->
            <element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__StInfo::Name -->
            <element name="UpdatePeriod" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ns__StInfo::UpdatePeriod -->
            <element name="UserAccessRight" type="ns:UserAccessRightCode" minOccurs="1" maxOccurs="1"/><!-- ns__StInfo::UserAccessRight -->
          </sequence>
    </complexType>
  </schema>

</types>

<message name="GetStations">
  <part name="login" type="xsd:string"/><!-- ns__GetStations::login -->
  <part name="password" type="xsd:string"/><!-- ns__GetStations::password -->
</message>

<message name="GetStationsResponse">
  <part name="GetStationsResult" type="ns:ArrayOfStationInfo"/><!-- ns__GetStations::GetStationsResult -->
  <part name="ErrorCode" type="ns:ErrorCode"/><!-- ns__GetStations::ErrorCode -->
</message>

<message name="GetSensors">
  <part name="login" type="xsd:string"/><!-- ns__GetSensors::login -->
  <part name="password" type="xsd:string"/><!-- ns__GetSensors::password -->
  <part name="StationID" type="xsd:string"/><!-- ns__GetSensors::StationID -->
  <part name="From" type="xsd:string"/><!-- ns__GetSensors::From -->
  <part name="To" type="xsd:string"/><!-- ns__GetSensors::To -->
</message>

<message name="GetSensorsResponse">
  <part name="GetSensorsResult" type="ns:ArrayOfSensorsInfo"/><!-- ns__GetSensors::GetSensorsResult -->
  <part name="ErrorCode" type="ns:ErrorCode"/><!-- ns__GetSensors::ErrorCode -->
</message>

<portType name="ReplicationApiServicePortType">
  <operation name="GetStations">
    <documentation>Service definition of function ns__GetStations</documentation>
    <input message="tns:GetStations"/>
    <output message="tns:GetStationsResponse"/>
  </operation>
  <operation name="GetSensors">
    <documentation>Service definition of function ns__GetSensors</documentation>
    <input message="tns:GetSensors"/>
    <output message="tns:GetSensorsResponse"/>
  </operation>
</portType>

<binding name="ReplicationApiService" type="tns:ReplicationApiServicePortType">
  <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="GetStations">
    <SOAP:operation style="rpc" soapAction=""/>
    <input>
          <SOAP:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ReplicationApiService"/>
    </input>
    <output>
          <SOAP:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ReplicationApiService"/>
    </output>
  </operation>
  <operation name="GetSensors">
    <SOAP:operation style="rpc" soapAction=""/>
    <input>
          <SOAP:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ReplicationApiService"/>
    </input>
    <output>
          <SOAP:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ReplicationApiService"/>
    </output>
  </operation>
</binding>

<service name="ReplicationApiService">
  <documentation>gSOAP 2.8.75 generated service definition</documentation>
  <port name="ReplicationApiService" binding="tns:ReplicationApiService">
    <SOAP:address location="http://localhost:80"/>
  </port>
</service>

</definitions>
